---
import type { CollectionEntry } from 'astro:content';

type Props = {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

---

<article class="border border-white p-4">
    <a href={`/blog/${post.slug}`} aria-label={`Read more about ${post.data.title}`}>
        <h1>Image Here</h1>
    </a>

    <div class="mb-4">
        <h1>Catergories:{post.data.categories.map((category) => category + " ")}</h1>
    </div>

    <a href={`/blog/${post.slug}`} class="text-3xl mb-4 inline-block">
        {post.data.title}
    </a>

    <p class="text-xl mb-9 line-clamp-2 text-purple-dark">
        {post.body}
    </p>

    <div class="flex justify-between items-center">
        <h1>{post.data.author}</h1>
        <span class="text-zinc-700 text-xl">
            {post.data.date}
        </span>
    </div>
</article>